@import "../../../styles.less";

:host{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: @color-dim;

    & /deep/ .top{

        margin-left: 100px;
        color: #ffffff;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        height: 150px;
        
        letter-spacing: 4px;

        .preTitle{
            font-size: 20px;
        }
        .title{
            font-size: 65px;
            margin-top: 10px;
        }
    }
}

.background-filter{
    // background: radial-gradient(ellipse at center, #0a1324 0%, #0B1434 100%);
    background: @color-dim;
    width: 100%;
    height: 100%;
    opacity: 0.6;

    &.idle{
        display: none;
    }
}

@keyframes backgroundIdle{
    0%, 100%{transform: scale(1.1)}
    50%{transform: scale(1.2)}
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);

    &.idle{
        transform: scale(1.1);
        animation: backgroundIdle 15s ease-out infinite;
        filter: blur();
    }
}

.content{
    position: relative;
    top: 200px;
    left: 7vw;
    z-index: 10;

    &.idle{
        display: none;
    }

    img{
        height: 200px;
        width: 200px;
    }

    controller-input-wrapper{
        width: 100%;
    }

    .main-container{
        width: 50%;
        margin-left: 50px;
    }

    .game-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        height: 200px;

        color: #ffffff;

        margin-bottom: 50px;

        & > *{
            display: block;
        }

        .titleTop{
            font-size: 20px;
        }

        .title{
            font-size: 58px;
            margin-top: 10px;
        }

        .play{
            display: inline-block;
            border: 4px solid #ffffff;
            border-radius: 4px;
            
            padding: 10px 40px;
            margin-top: 10px;
            font-weight: 700;
            text-transform: uppercase;

            transition: all 200ms;

            &.selected{
                background-color: #ffffff;
                color: #222222;
                transform: scale(1.04)
            }
        }
    }

    .divider{
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        opacity: 0.5;
    }

    .content-panel{
        margin-top: 75px;
        .header{
            color: #fff;
            display: flex;
            align-items: center;
            width: 100%;
            margin: 20px 0;
            i{
                opacity: 0.6;
            }
            .title{
                font-size: 18px;
                display: inline-block;
                margin-left: 20px;
            }
        }
    }

    .img-list{
        display: flex;

        .img{
            position: relative;
            margin-right: 15px;
            border-radius: 4px;
            overflow: hidden;
            color: #ffffff;
            
    
            transition: all 200ms;
    
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            &.selected{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                transform: scale(1.04)
            }

            .dimmer{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.4;
                z-index: 1;
            }
            img{
                position: relative;
                height: 175px;
                width: auto;
            }
            &.more{
                width: 200px;
                justify-content: center;
                align-items: center;
                .dimmer{
                    z-index: 0;
                }
                p, i{
                    z-index: 1;
                    margin: 0;
                    font-size: 18px;
                }
            }
        }

        
    }

    .screenshots{
        flex-wrap: wrap;
    }
}

