
<div class="background" [style.background-image]="this.backgroundImg" [class.idle]="this.gameState == 'idle'">
  <div class="background-filter"  [class.idle]="this.gameState == 'idle'"></div>
</div>

<div class="content" [class.idle]="this.gameState == 'idle'">
  <controller-input-wrapper fromContent=true >

    <img [src]="this.squareImg">

    <controller-container vertical="true" class="main-container">
      <div class="game-header">
        <span class="titleTop">Last played 3d ago</span>
        <span class="title">The Crew</span>
        <div><c-button class="play">Play</c-button></div>
      </div>

      <div class="divider"></div>

 
      <controller-container vertical="false" class="content-panel screenshots" #screenshotsContainer>
        
        <div class="header">
          <i class="material-icons">collections</i>
          <span class="title">Screenshots</span>
        </div>

        <div class="img-list">
          
          <controller-container class="img screenshot" *ngFor="let img of this.screenshots" [parent]="screenshotsContainer">
            <div class="dimmer"></div>
            <img [src]="this.img">
          </controller-container>

          <controller-container class="img more">
            <p>Show all</p>
            <i class="material-icons">arrow_right_alt</i>
            <div class="dimmer"></div>
          </controller-container>
        </div>
        

      </controller-container>


    </controller-container>


  </controller-input-wrapper>
</div>