/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #111111;
}
:host /deep/ .top {
  margin-left: 100px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150px;
  letter-spacing: 4px;
}
:host /deep/ .top .preTitle {
  font-size: 20px;
}
:host /deep/ .top .title {
  font-size: 65px;
  margin-top: 10px;
}
.background-filter {
  background: #111111;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.background-filter.idle {
  display: none;
}
@keyframes backgroundIdle {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}
.background.idle {
  transform: scale(1.1);
  animation: backgroundIdle 15s ease-out infinite;
  filter: blur();
}
.content {
  position: relative;
  top: 200px;
  left: 7vw;
  z-index: 10;
}
.content.idle {
  display: none;
}
.content img {
  height: 200px;
  width: 200px;
}
.content controller-input-wrapper {
  width: 100%;
}
.content .main-container {
  width: 50%;
  margin-left: 50px;
}
.content .game-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  color: #ffffff;
  margin-bottom: 50px;
}
.content .game-header > * {
  display: block;
}
.content .game-header .titleTop {
  font-size: 20px;
}
.content .game-header .title {
  font-size: 58px;
  margin-top: 10px;
}
.content .game-header .play {
  display: inline-block;
  border: 4px solid #ffffff;
  border-radius: 4px;
  padding: 10px 40px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 200ms;
}
.content .game-header .play.selected {
  background-color: #ffffff;
  color: #222222;
  transform: scale(1.04);
}
.content .divider {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.5;
}
.content .content-panel {
  margin-top: 75px;
}
.content .content-panel .header {
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.content .content-panel .header i {
  opacity: 0.6;
}
.content .content-panel .header .title {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
}
.content .img-list {
  display: flex;
}
.content .img-list .img {
  position: relative;
  margin-right: 15px;
  border-radius: 4px;
  overflow: hidden;
  color: #ffffff;
  transition: all 200ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.content .img-list .img.selected {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.04);
}
.content .img-list .img .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}
.content .img-list .img img {
  position: relative;
  height: 175px;
  width: auto;
}
.content .img-list .img.more {
  width: 200px;
  justify-content: center;
  align-items: center;
}
.content .img-list .img.more .dimmer {
  z-index: 0;
}
.content .img-list .img.more p,
.content .img-list .img.more i {
  z-index: 1;
  margin: 0;
  font-size: 18px;
}
.content .screenshots {
  flex-wrap: wrap;
}
