@import "./../../styles";

.output{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    display: block;
    width: 100%;    
    margin-bottom: 30px;
    text-align: center;

    white-space: pre;
}

.keyboard-container{
    flex-direction: column;
    align-items: center;
    text-transform: lowercase;

    c-button{
        padding: 25px 30px;
        width: 20px;
        height: 25px;
        font-size: 22px;
        color: #ffffff;

        &.selected{
            background-color: @color-primary-transparent;
        }

    }

    &.caps{
        text-transform: uppercase !important;
    }
}

.other-actions{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    .action{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 40px;
        img{
            width: 60px;
            height: 60px;

            &.smaller{
                width: 40px;
                height: 40px;
                margin: 10px;
            }
        }
        span{
            color: rgba(255, 255, 255, 0.8);
            font-weight: 700;
        }
    }
}