
<span class="output">{{this.value}}</span>

<controller-input-wrapper fromContent="true" vertical="true" class="keyboard-container" [class.caps]="this.caps">

  <controller-container vertical="false">

    <c-button>1</c-button>
    <c-button>2</c-button>
    <c-button>3</c-button>
    <c-button>4</c-button>
    <c-button>5</c-button>
    <c-button>6</c-button>
    <c-button>7</c-button>
    <c-button>8</c-button>
    <c-button>9</c-button>
    <c-button>0</c-button>
    <c-button>ß</c-button>

  </controller-container>

  <controller-container vertical="false">

    <c-button>Q</c-button>
    <c-button>W</c-button>
    <c-button>E</c-button>
    <c-button>R</c-button>
    <c-button>T</c-button>
    <c-button>Z</c-button>
    <c-button>U</c-button>
    <c-button>I</c-button>
    <c-button>O</c-button>
    <c-button>P</c-button>
    <c-button>Ü</c-button>

  </controller-container>

  <controller-container vertical="false">

    <c-button>A</c-button>
    <c-button>A</c-button>
    <c-button>S</c-button>
    <c-button>D</c-button>
    <c-button>F</c-button>
    <c-button>G</c-button>
    <c-button>H</c-button>
    <c-button>J</c-button>
    <c-button>K</c-button>
    <c-button>L</c-button>
    <c-button>Ö</c-button>
    <c-button>Ä</c-button>

  </controller-container>
  
  <controller-container vertical="false">

    <c-button>></c-button>
    <c-button>Y</c-button>
    <c-button>X</c-button>
    <c-button>C</c-button>
    <c-button>V</c-button>
    <c-button>B</c-button>
    <c-button>N</c-button>
    <c-button>M</c-button>
    <c-button>,</c-button>
    <c-button>.</c-button>
    <c-button>-</c-button>

  </controller-container>

</controller-input-wrapper>

<div class="other-actions">

  <!-- <div class="action">
    <img src="./../../assets/images/leftBumper.png">
    <span>Nach links</span>
  </div> -->
  <div class="action">
    <img src="./../../assets/images/triggerLeft.png" class="smaller">
    <span>Große Buchstaben</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/controllerA.png" class="smaller">
    <span>Auswählen</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/controllerY.png" class="smaller">
    <span>Leertaste</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/controllerX.png" class="smaller">
    <span>Löschen</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/controllerB.png" class="smaller">
    <span>Schließen</span>
  </div>

  <!-- <div class="action">
    <img src="./../../assets/images/rightBumper.png">
    <span>Nach rechts</span>
  </div> -->

</div>