/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
.output {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  white-space: pre;
}
.keyboard-container {
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;
}
.keyboard-container c-button {
  padding: 25px 30px;
  width: 20px;
  height: 25px;
  font-size: 22px;
  color: #ffffff;
}
.keyboard-container c-button.selected {
  background-color: rgba(8, 145, 224, 0.2);
}
.keyboard-container.caps {
  text-transform: uppercase !important;
}
.other-actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}
.other-actions .action {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}
.other-actions .action img {
  width: 60px;
  height: 60px;
}
.other-actions .action img.smaller {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.other-actions .action span {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
