
@import "./../../../styles";

.nav{

    width: 80%;
    margin-left: 10%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    
    .icon{
        height: 60px;
        width: 60px;
        margin: 0 30px;
    }

    .item{
        display: inline-block;
        height: 70px;
        position: relative;

        .content{
            position: relative;
            height: 100%;
            width: calc(100% - 40px);
            display: flex;
            align-items: center;
            padding: 0 40px;
            z-index: 1;

            .settings-cat{
                color: #a3a3a3;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            opacity: 0.2;
            z-index: 0;

            transition: 150ms background-color;
        }

        &.selected{
            .background{
                background-color: @color-primary-dark
            }
            .content .settings-cat{
                color: #fdfdfd;
                font-weight: 700;
            }
        }
    }
}

.container{
    width: 80%;
    margin: 50px 10%;
}