/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
.nav {
  width: 80%;
  margin-left: 10%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
}
.nav .icon {
  height: 60px;
  width: 60px;
  margin: 0 30px;
}
.nav .item {
  display: inline-block;
  height: 70px;
  position: relative;
}
.nav .item .content {
  position: relative;
  height: 100%;
  width: calc(60%);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1;
}
.nav .item .content .settings-cat {
  color: #a3a3a3;
  font-size: 20px;
  font-weight: 500;
}
.nav .item .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.2;
  z-index: 0;
  transition: 150ms background-color;
}
.nav .item.selected .background {
  background-color: #166ea1;
}
.nav .item.selected .content .settings-cat {
  color: #fdfdfd;
  font-weight: 700;
}
.container {
  width: 80%;
  margin: 50px 10%;
}
