
<div class="nav">

  <img src="./../../../assets/images/leftBumper.png" class="icon">

  <div class="item" [class.selected]="this.page == 'main'">
    <div class="content">
      <span class="settings-cat">Allgemein</span>
    </div>
    <div class="background"></div>
  </div>
  
  <div class="item" [class.selected]="this.page == 'accounts'">
    <div class="content">
      <span class="settings-cat">Verknüpfte Konten</span>
    </div>
    <div class="background"></div>
  </div>

  <img src="./../../../assets/images/rightBumper.png" class="icon">

</div>
      
<div class="container">
    <template #settingsHost></template>
</div>