<controller-input-wrapper #inputWrapper vertical=true>

      
      <c-button *ngIf="true" (input)="loginToSteam($event)">Bei Steam anmelden</c-button>

      <c-input type="checkbox" label="Angemeldet bleiben" *ngIf="false"></c-input>
      <c-button *ngIf="false">Abmelden</c-button>

</controller-input-wrapper>