/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
c-button {
  height: 30px;
  background-color: rgba(8, 145, 224, 0.2);
  border-radius: 4px;
  transition: all 150ms;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
}
c-button.selected {
  box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35), 0 0 6px rgba(0, 0, 0, 0.144);
  color: rgba(255, 255, 255, 0.8);
}
