
@import "./../../../styles";

c-button{
    height: 30px;
    background-color: @color-primary-transparent;

    border-radius: 4px;

    transition: all 150ms;

    padding: 10px 20px;
    
    margin: 10px;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    
    &.selected{
        box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35), 0 0 6px rgba(0, 0, 0, 0.144);
        color: rgba(255, 255, 255, 0.8);
    }
}