:host{
    display: flex;
    &:not(.vertical){
        flex-direction: row;
    }
    &.vertical{
        flex-direction: column;
    }
    overflow: visible;
    position: relative;

    .title{
        color: #9b9b9b;
        position: absolute;
        top: -30px;
        left: 0;
        font-size: 16px;
        text-transform: uppercase;
        transition: 200ms top;
    }

    &.selected{
        .title{
            color: #ffffff;
            top: -50px;
        }
    }
}