:host {
  display: flex;
  overflow: visible;
  position: relative;
}
:host:not(.vertical) {
  flex-direction: row;
}
:host.vertical {
  flex-direction: column;
}
:host .title {
  color: #9b9b9b;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: 200ms top;
}
:host.selected .title {
  color: #ffffff;
  top: -50px;
}
