:host {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  overflow-x: auto;
  overflow-y: visible;
}
:host::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 6px;
  /* for horizontal scrollbars */
}
:host::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.36);
}
:host::-webkit-scrollbar-thumb {
  background: rgba(255, 186, 74, 0.6);
}
