
<div class="b-content">
  <nav [class.hidden]="this.hideNav">

    <div class="item" *ngFor="let page of this.pages" [class.active]="activePage == page.route">
        <i class="material-icons" *ngIf="page.icon">{{page.icon}}</i>
        <img class="icon" *ngIf="page.image" [src]="'./../assets/images/' + page.image">
        <span>{{page.title}}</span>
    </div>

  
  
<!--     
    <div class="item" [class.active]="activePage == 1" (click)="activePage = 1" routerLink="settings/main">
      <i class="material-icons">settings</i>
      <span>Einstellungen</span>
    </div> -->

  
  </nav>
  
  
  <div class="profile">
    <div class="infos">
      <span class="name">walamana<!-- TODO: Insert username here--></span>
      <span class="time">{{this.time}}</span>
    </div>
    <div class="profile-img" style="background-image: url(http://a943.phobos.apple.com/us/r30/Purple/v4/2d/4d/25/2d4d25ee-c63e-1dc4-a03d-ffacc9bbbf44/mzl.wgijsmpe.png)"></div>
    <!-- <i class="material-icons">power_settings_new</i> -->
    <!-- <span>Ausschalten</span> -->

    
  </div>
  <div class="profile-menu" [class.visible]="this.profileMenuVisible">
      <controller-input-wrapper fromContent="true" #profileMenuInputWrapper vertical="true">

        <c-button class="item" (input)="onMenuClicked($event, 'home')"><i class="material-icons">home</i><span>Startseite</span></c-button>
        <c-button class="item" (input)="onMenuClicked($event, 'settings')"><i class="material-icons">settings</i><span>Einstellungen</span></c-button>
        <c-button class="item"><i class="material-icons">power_settings_new</i><span>Ausschalten</span></c-button>


      </controller-input-wrapper>
  </div>
  
  <div class="page" [@triggerRouteChange]="prepareRouteTransition(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
  </div> 
</div>

<div class="keyboard-host" [class.visible]="this.keyboardVisible">
  <keyboard #keyboardHost></keyboard>
</div>

<div class="background">
  <div class="bg-img"></div>
</div>