@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Lato:400,700');
/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #03040e;
}
.background .bg-img {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
.b-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
nav {
  height: 175px;
  width: calc(-100%);
  padding: 0 100px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  align-content: center;
  align-items: center;
  transition: 200ms opacity;
}
nav .icon {
  height: 40px;
}
nav .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  position: relative;
  transition: 200ms all ease-in-out;
  background-color: transparent;
}
nav .item img {
  height: 33px;
  width: 33px;
  opacity: 0.4;
  transition: 200ms all ease-in-out;
}
nav .item i {
  color: #ffffff;
  opacity: 0.4;
  font-size: 35px;
  position: relative;
  display: block;
}
nav .item span {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 150ms all;
  display: block;
  height: 0;
}
nav .item.active {
  margin: 0 50px;
  width: 150px;
  height: 100px;
  z-index: 1;
}
nav .item.active img,
nav .item.active span,
nav .item.active i {
  opacity: 1;
}
nav .item.active span {
  height: 20px;
}
nav .spacer {
  width: 100%;
}
nav.hidden {
  opacity: 0;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 50px;
  right: 50px;
  width: auto;
  background: transparent;
  z-index: 100;
}
.profile span {
  height: auto;
  text-align: right;
}
.profile .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.profile .infos span {
  opacity: 1;
  text-transform: initial;
  margin: 0;
}
.profile .infos .name {
  font-weight: 700;
}
.profile .profile-img {
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.profile-menu {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  height: calc(-50vh);
  width: 400px;
  z-index: 1;
  padding-top: 150px;
  transition: 150ms transform ease-out;
  transform: translateX(400px);
}
.profile-menu.visible {
  transform: translateX(0);
}
.profile-menu controller-input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile-menu .item {
  color: #9e9e9e;
  display: flex;
  height: 70px;
  transition: 200ms color;
  align-items: center;
  padding: 0 40px;
}
.profile-menu .item i {
  font-size: 35px;
}
.profile-menu .item span {
  font-size: 18px;
  margin-left: 26px;
}
.profile-menu .item.selected {
  color: #0891e0;
}
.keyboard-host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(8, 145, 224, 0.2);
}
.keyboard-host.visible {
  z-index: 1000;
}
.page {
  width: 100%;
  height: calc(-100%);
  margin-top: 200px;
}
