@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Lato:400,700');

@import "../styles.less";



.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #03040e;
    .bg-img{
        width: 100%;
        height: 100%;
        background-image: url(./../assets/images/background.png);
        // background-image: url(./../assets/images/background.jpg);
        // background-image: url(https://source.unsplash.com/random); 
        background-size: cover;
        background-position: center;
        opacity: 0.1;
    }
}

.b-content{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


nav{
    height: 175px;
    width: calc(100% - 200px);

    padding: 0 100px;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    align-content: center;
    align-items: center;   
    // background-color: #071d27;
    transition: 200ms opacity;

    .icon{
        height: 40px;
    }

    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        // margin: 25px;
        width: 70px;
        height: 70px;
        position: relative;
        transition: 200ms all ease-in-out;  
        background-color: transparent;


        img{
            height: 33px;
            width: 33px;
            opacity: 0.4;
            transition: 200ms all ease-in-out;
        }

        i{
            color: #ffffff;
            opacity: 0.4;
            font-size: 35px;
            position: relative;
            display: block;
        }

        span{
            color: #ffffff;
            text-transform: uppercase;
            margin-top: 10px;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: 150ms all;
            display: block;
            height: 0;
        }

        
        &.active{
            img, span, i{opacity: 1}
            span{height: 20px;}
            margin: 0 50px;
            width: 150px;
            height: 100px;
            z-index: 1;
            // background-color: @color-primary-dark;;
        }
    }

    .spacer{
        width: 100%;
    }

    &.hidden{
        opacity: 0;
    }
}



.profile{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    position: fixed;
    top: 50px;
    right: 50px;
    width: auto;
    background: transparent;

    z-index: 100;
    span{
        height: auto;
        text-align: right;
    }
    .infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        span{
            opacity: 1;
            text-transform: initial;
            margin: 0;
        }
        .name{
            font-weight: 700;
        }
    }
    
    .profile-img{
        background-position: center;
        background-size: cover;
        height: 50px;
        width: 50px;
        margin-left: 20px;
        border: 2px solid #ffffff;
        border-radius: 50px;
    }

    
}

.profile-menu{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 150px);
    width: 400px;
    z-index: 1;
    padding-top: 150px;

    transition: 150ms transform ease-out;
    transform: translateX(400px);

    &.visible{
        transform: translateX(0);
    }

    controller-input-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .item{
        color: #9e9e9e;
        display: flex;
        height: 70px;

        transition: 200ms color;
        
        align-items: center;
        padding: 0 40px;

        i{
            font-size: 35px;
        }
        span{
            font-size: 18px;
            margin-left: 26px;
        }

        &.selected{
            color: @color-primary;
        }
    }
}

.keyboard-host{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: @color-primary-transparent;


    &.visible{
        z-index: 1000;
    }
}
.page{
    width: 100%;
    height: calc(100% - 200px);
    margin-top: 200px;
}