
:host{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1000000;
}


@keyframes loading{
    0%, 20%, 80%, 100%{opacity: 0.08; transform: scale(0.8)}
    50%{opacity: 1; transform: scale(1.1)}
}


.loading{
    animation: loading 3s infinite;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    
}