/* You can add global styles to this file, and also import other style files */

// @color-primary-dark: #1A2F77;
// @color-primary: #2662D9;

// @background-gradient: linear-gradient(@color-primary-dark, @color-primary);

// @color-dim: @background-gradient

@color-background-dark: #111111;
@color-background: #252525;

@color-primary: #0891e0;
@color-primary-dark: #166ea1;

@color-primary-transparent: rgba(8, 145, 224, 0.2);
@color-primary-dark-transparent: rgba(22, 110, 161, 0.2);

@background-gradient: linear-gradient(@color-background-dark, @color-background);

@color-dim: @color-background-dark;

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    // background: @background-gradient;
    // background-color: ;
    background-color: #000000;
    font-family: "Lato";
    overflow: hidden;

    // cursor: none;

}