@import "./../../styles";


@paddingTop: 10px;
@paddingLeft: 20px;

:host{
    margin: 10px;
}

.label{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.05em;
    margin-bottom: 8px;
    font-weight: 700;
    display: block;
}

.text-container{

    height: 30px;
    background-color: @color-primary-transparent;

    border-radius: 4px;

    transition: box-shadow 150ms;

    padding: @paddingTop @paddingLeft;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    .value{
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        transition: color 150ms;
    }
}

.checkbox-container{

    height: 30px;

    background-color: @color-primary-transparent;

    border-radius: 4px;

    transition: box-shadow 150ms;

    padding: @paddingTop @paddingLeft @paddingTop @paddingLeft / 2;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    .checkbox{
        width: 30px;
        height: 30px;
        background-color: @color-primary-transparent;
        margin-right: 20px;

        border-radius: 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: rgba(255, 255, 255, 0.7);

        box-shadow: inset 0 0 18px rgba(221, 221, 221, 0.199), 0 0 6px rgba(0, 0, 0, 0.144); // TODO: Replace with style variable;

        i{
            opacity: 0;
            transform: scale(0.6);
            transition: 100ms all ease-in;
            &.checked{
                opacity: 1;
                transform: scale(1);
            }  
        }
    }

    .label{
        font-size: 1em;
        font-weight: 700;
        margin-top: 4px;
    }

}

:host.selected{
    .label{
        color: rgba(255, 255, 255, 0.8);
    }
    .text-container{
        box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35), 0 0 6px rgba(0, 0, 0, 0.144); // TODO: Replace with style variable;
        .value{
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .checkbox-container{
        box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35),; 
    }
}