<span class="label" *ngIf="this.type == 'text' || this.type == 'number'">{{this.label}}</span>
<div class="text-container" *ngIf="this.type == 'text' || this.type == 'number'">
    <span class="value">{{this.value}}</span>
</div>

<div class="checkbox-container" *ngIf="this.type == 'checkbox'">
    <div class="checkbox">
        <i class="material-icons" [class.checked]="this.value == true">check</i>
    </div>
    <div class="label">{{this.label}}</div>
</div>