/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Lato";
  overflow: hidden;
}
:host {
  margin: 10px;
}
.label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.05em;
  margin-bottom: 8px;
  font-weight: 700;
  display: block;
}
.text-container {
  height: 30px;
  background-color: rgba(8, 145, 224, 0.2);
  border-radius: 4px;
  transition: box-shadow 150ms;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.text-container .value {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  transition: color 150ms;
}
.checkbox-container {
  height: 30px;
  background-color: rgba(8, 145, 224, 0.2);
  border-radius: 4px;
  transition: box-shadow 150ms;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.checkbox-container .checkbox {
  width: 30px;
  height: 30px;
  background-color: rgba(8, 145, 224, 0.2);
  margin-right: 20px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 0 18px rgba(221, 221, 221, 0.199), 0 0 6px rgba(0, 0, 0, 0.144);
}
.checkbox-container .checkbox i {
  opacity: 0;
  transform: scale(0.6);
  transition: 100ms all ease-in;
}
.checkbox-container .checkbox i.checked {
  opacity: 1;
  transform: scale(1);
}
.checkbox-container .label {
  font-size: 1em;
  font-weight: 700;
  margin-top: 4px;
}
:host.selected .label {
  color: rgba(255, 255, 255, 0.8);
}
:host.selected .text-container {
  box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35), 0 0 6px rgba(0, 0, 0, 0.144);
}
:host.selected .text-container .value {
  color: rgba(255, 255, 255, 0.8);
}
:host.selected .checkbox-container {
  box-shadow: inset 0 0 18px rgba(18, 210, 255, 0.35);
}
