@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
:host {
  margin: 8px;
  border-radius: 1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: 300ms transform, 300ms animation;
}
:host[size="1"] {
  width: calc(124vh);
  height: calc(22vh);
}
:host[size="1"][small="true"] {
  height: calc(3vh);
}
:host[size="2"] {
  width: calc(54vh);
  height: 19vh;
}
:host[size="3"] {
  width: calc(9.33333333vh);
  height: 19vh;
}
:host[size="3"].vertical {
  width: 47.5vh;
  height: calc(8.33333333vh);
}
:host[size="4"] {
  width: calc(19vh);
  height: 19vh;
}
:host[size="4"] .content .actions td:first-child {
  display: none;
}
:host.selected {
  border-color: #969696;
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.363), 0 10px 10px rgba(0, 0, 0, 0.39);
}
:host.selected .background {
  transform: scale(1.05);
}
:host.selected .content .actions,
:host.selected .content .name {
  opacity: 1;
}
:host.selected .content::before {
  transform: translateY(0);
}
.background {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: 300ms transform;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(60%);
  height: calc(60%);
  padding: 20px;
  z-index: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.274), 0 1px 2px rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: flex-end;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms transform;
}
.content .name {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  flex-grow: 2;
  opacity: 0;
}
.content .actions {
  position: relative;
  right: 0;
  color: #fff;
  opacity: 0;
  font-weight: 700;
  transition: 300ms opacity;
}
.content .actions > span {
  display: block;
}
.content .actions .play {
  font-size: 25px;
}
.content .actions tr td:first-child {
  padding-right: 20px;
}
.content .actions tr td:last-child {
  text-align: center;
}
.content .actions .icon {
  width: 30px;
  height: 30px;
}
.content .actions tr:last-child .icon {
  width: 40px;
  height: 40px;
}
