@smallestWidth: 19vh;
@smallestHeight: 19vh;
@marginBetweenPanels: 16px;


@keyframes scale{
    0%, 100% {transform: scale(1)}
    50% {transform: scale(1.2)}
}

:host{
    margin: @marginBetweenPanels / 2;
    // border: (@marginBetweenPanels / 8) solid transparent;
    border-radius: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.10);
    overflow: hidden;

    position: relative;

    transition: 300ms transform, 300ms animation;

    &[size="1"]{
        width: calc(@smallestWidth * 4 + @marginBetweenPanels * 3);
        height: calc(@smallestHeight * 2 - @marginBetweenPanels);

        

        &[small="true"]{
            height: calc(@smallestHeight - (@marginBetweenPanels * 2) + @marginBetweenPanels);
        }

        // &:not([small="true"]) .content .name{
        //     font-size: 40px;
        // }
    }
    &[size="2"]{
        width: calc((@smallestWidth * 2) + @marginBetweenPanels);
        height: @smallestHeight;
    }
    &[size="3"]{
        width: calc((@smallestWidth * (4/3) ) - @marginBetweenPanels);
        height: @smallestHeight;

        &.vertical{
            width: @smallestWidth * 5/2;
            height: calc(@smallestHeight - (@marginBetweenPanels / 1.5 ));
        }
    }
    &[size="4"]{
        width: calc(@smallestWidth);
        height: @smallestHeight;
        .content .actions td:first-child{
            display: none;
        }
    }

    &.selected{
        .background{
            // animation: 60s scale infinite;
            transform: scale(1.05)
        }
        .content{
            .actions, .name{
                opacity: 1;
            }

            &::before{
                transform: translateY(0) ;
            }
        }

        border-color: #969696;      
          

        transform: scale(1.05);

        z-index: 10;

        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.363), 0 10px 10px rgba(0, 0, 0, 0.39);
    }
    
    // &.focus{

    // }
}

.background{

    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;

    transition: 300ms transform;
}

.content{
    position: absolute;
    // bottom: 0;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    z-index: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.274), 0 1px 2px rgba(0, 0, 0, 0.37);

    display: flex;
    align-items: flex-end;


    // background-color: transparent;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-color: rgba(0, 0, 0, 0.5);
        transition: 200ms transform;
    }

    .name{
        position: relative;
        font-size: 20px;
        font-weight: 500;

        color: #ffffff;
        text-transform: uppercase;

        flex-grow: 2;

        opacity: 0;


    }


    .actions{
        position: relative;
        right: 0;
        color: #fff;
        opacity: 0;

        font-weight: 700;

        transition: 300ms opacity;

        & > span{
            display: block
        }

        .play{
            font-size: 25px;

        }

        tr td:first-child{
            padding-right: 20px;
            
        }

        tr td:last-child{
            text-align: center;
        }

        .icon{
            width: 30px;
            height: 30px;
        }

        tr:last-child .icon{
            width: 40px;
            height: 40px;
        }
    }
}


