
<div class="background" [style.background-image]="'url(' + this.backgroundImg + ')'">
    <div class="dimmer" [class.enabled]="!this.selected"></div>
</div>

<div class="content">
    <span class="name">{{this.name}}</span>

    <table class="actions">
        <tr> <td>Starten</td> <td><img class="icon" src="./../../../assets/images/controllerX.png"></td> </tr>
        <tr class="play"> <td>Details</td> <td><img class="icon" src="./../../../assets/images/controllerA.png"></td> </tr>
    </table>

</div>