:host{
    padding: 8px;
    // border: 1px solid #ff0000;
    display: inline-flex;

    &.vertical{
        flex-direction: column;
    }

    & /deep/ .container, & /deep/ controller-container{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
    }

    & /deep/ .container[vertical=false], & /deep/ controller-container[vertical=false]{
        flex-direction: row;
    }

}
