:host {
  padding: 8px;
  display: inline-flex;
}
:host.vertical {
  flex-direction: column;
}
:host /deep/ .container,
:host /deep/ controller-container {
  display: flex;
  flex-direction: column;
}
:host /deep/ .container[vertical=false],
:host /deep/ controller-container[vertical=false] {
  flex-direction: row;
}
